body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu__link:hover {
    color: #ffaa3b;
}

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.menu__logo {
    display: inline-block;
    height: 100%;
    width: 92px;
    margin: 20px 0 0 0;
}

.menu__search-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
}

.menu__search-input {
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}

.page-wrapper {
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.site-logo {
  float: left;
}
.main-nav {
  float: right;
}

ul.main-nav {
  margin: 0;
  padding: 20px 0 0 0;
}
ul.main-nav li {
  display: inline-block;
  list-style-type: none;
  margin: 0 15px;
}

.sidebar-wrap ul {
  margin: 0 0 20px 0;
  padding: 0;
}
.sidebar-wrap ul li {
  list-style-type: none;
}

.sidebar-wrap ul li a {
  display: block;
  padding: 7px 0;
  border-bottom: 1px solid #ecebeb;
  text-decoration: none;
}

.sidebar-wrap ul.tag-lists li {
  display: inline-block;
  margin-right: 10px;
}
.sidebar-wrap ul.tag-lists li a {
  border: 1px solid #ecebeb;
  padding: 6px 18px;
  margin-bottom: 11px;
  text-transform: capitalize;
}
.sidebar-wrap ul.tag-lists li a:hover {
  border: 1px solid #ffaa3b;
  background: #ffaa3b;
  color: #fff;
}

.post-article {
  margin-bottom: 20px;
}


/*# sourceMappingURL=main.e7bd629e.chunk.css.map*/